.container {
    width: 100%;
    z-index: 99;
    background-color: white;
    position: fixed;
}

.menuMobile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItem {
    list-style: none;
    font-size: 1.6rem;
    color: var(--text);
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-weight: 500;
}

.btnClose {
    position: absolute;
    font-size: 3rem;
    right: 3.5rem;
    top: 3.5rem;
}