.container {
    width: 90%;
    margin: 0 auto;
}

.checkoutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
}

.leftCheckout {
    flex-grow: 2;
}

.formWrapper {
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 1rem;
}

.formWrapper h4 {
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}

.rightCheckout {
    flex-grow: 1;
    width: 350px;
    max-width: 350px;
}

.cartWrapper {
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 1rem;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.image {
    width: 8rem;
    border-radius: 0.5rem;
}

.color {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 1px solid #000
}

.subtotal {
    font-size: 1.5rem;
    font-weight: 500;
}

.quantity {
    font-size: 1.5rem
}

.breadcrumb {
    width: 100%;
    background-color: var(--primary);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.cartTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartTotal h4 {
    font-size: 2rem;
    font-weight: 400;
}

.cartTotal p {
    font-size: 2.2rem;
    font-weight: 500;
}


@media screen and (max-width: 576px) {

    .container {
        width: 95%;
    }

    .checkoutWrapper {
        flex-direction: column;
    }

    .rightCheckout {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width:767px) {
    .container {
        width: 95%;
    }

    .cartContainer {
        flex-direction: column;
        row-gap: 2rem;
    }

    .cartDetails {
        flex-grow: 0;
        width: 100%;
    }

    .cartPriceWrapper {
        flex-grow: 0;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .container {
        width: 95%;
    }

    .cartContainer {
        flex-direction: column;
        row-gap: 2rem;
    }

    .cartDetails {
        flex-grow: 0;
        width: 100%;
    }

    .cartPriceWrapper {
        flex-grow: 0;
        width: 100%;
        max-width: 100%;
    }
}