.container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
}


.title {
    margin-bottom: 2rem;
    text-align: right;
}

.img {
    width: 80px;
}

.pagination {
    text-align: right;
    margin-top: 2rem;
}